/* CSS CRIADO E DESENVOLVIDO DO ZERO A BASE DE CAFÉ E MUITAS NOITES SEM DORMI.

A REGRA É CLARA: COPIA, SÓ NÃO FAZ IGUAL ;)

Autor: Hiago Patrick 
github: hiagoptk.github.io

10/06/2020
Projeto de Responsive Web Design - Tribute Page

/* ******** X ******** *\
|     Config Gerais     |
\* ******** X ******** */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(17, 17, 17);
	color: white;
	border: solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1, h2, h3, h4  {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Nunito', sans-serif;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	width: 90vw;
	height: auto;
}

#title {
	font-size: 35px;
	margin-bottom: 20px;
}

#image {
  max-width: 100%;
  height: auto;
}
/* ******** X ******** *\
|         HOME          |
\* ******** X ******** */

#home {
	text-align: center;
	
	width: 80vw;
	height: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	
	padding: 20px;
}


#img-div {
	margin: 20px;
	width: 100%;
	height: auto;
	
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	animation: welcome 3s 250ms;
	animation-fill-mode: backwards;
}

#img-capiton {
	background-color: rgba(2, 2, 2, 0.377);
	animation: welcome 3s 250ms;
	animation-fill-mode: backwards;
	padding: 3px 0px;
}


/* ******** X ******** *\
|      ABOUT PAGE       |
\* ******** X ******** */

#tribute-info {
	text-align: center;
	width: 80vw;
	height: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	

	padding: 20px;
}

.about {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
}

.box-about {
	background-color: #c4f8cb1f;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
}

.box-about p {
	margin: 10px;
}


#epitetos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	
	justify-content: space-between;
	margin-bottom: 30px;
}

.boxImg {
	padding: 10px;
}

#imgEpitetos {
	width: 300px;
	height: 500px;
}

#epitetos ul {
	list-style: none;
}

.boxEpitetos {
	background-color: #c4f8cb1f;
	margin: 10px;
	padding: 25px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
	
}

.epiteto {
	margin-top: 10px;
}

 /*     TRIBUTE LINK     */

#tribute-link {
	
	width: 100%;
	margin-bottom: 30px;
}

.boxLink {
	background-color: #c4f8cb1f;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
	
}

.links a {
	color: white;
}

#footer {
	border: solid lightseagreen;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.footerTxt{
	border: solid palevioletred;
}


/* ******** X ******** *\
|       ANIMAÇÕES       |
\* ******** X ******** */

@keyframes welcome {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popup {
    from {
        transform: scale(0.8);
    } to {
        transform: scale(1);
    }
}

/* ******** X ******** *\
     RESPONSIVIDADE     |
\* ******** X ******** */


@media (max-width: 780px) {
	#main {
		width: 90vw;
		height: auto;
	}

	#home {
		width: 80%;
		height: auto;
	}

	#tribute-info {
		width: 80%;
		height: auto;
	}

	#footer {
		width: 100%;
		height: auto;
		text-align: center;
		font-size: 12px;
	}

	#epitetos {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}