/* CSS CRIADO E DESENVOLVIDO DO ZERO A BASE DE CAFÉ E MUITAS NOITES SEM DORMI.

A REGRA É CLARA: COPIA, SÓ NÃO FAZ IGUAL ;)

Autor: Hiago Patrick 
github: hiagoptk.github.io

10/06/2020
Projeto de Responsive Web Design - Tribute Page

/* ******** X ******** *\
|     Config Gerais     |
\* ******** X ******** */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(17, 17, 17);
	color: white;
}

h1, h2, h3, h4  {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Nunito', sans-serif;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

#title {
	font-size: 35px;
	margin-bottom: 20px;
}


/* ******** X ******** *\
|         HOME          |
\* ******** X ******** */

#home {
	text-align: center;
	
	width: 1000px;
	height: auto;

}
.box {
	/*box-shadow: 1px 1px 15px black, 0 0 25px blue, 0 0 15px darkblue;*/
	background-color: #c4f8cb1f;
	margin: 50px;
	padding: 10px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
}

img {
	width: 1000px;
	border-radius: 5px;
	animation: welcome 3s 250ms;
	animation-fill-mode: backwards;
}

#img-capiton {
	background-color: rgba(2, 2, 2, 0.377);
	animation: welcome 3s 250ms;
	animation-fill-mode: backwards;
	padding: 3px 0px;
}


/* ******** X ******** *\
|      ABOUT PAGE       |
\* ******** X ******** */

#tribute-info {
	text-align: center;
	width: 1000px;
	height: auto;
	margin-top: 30px;

}

.box-about {
	/*box-shadow: 1px 1px 15px black, 0 0 25px blue, 0 0 15px darkblue;*/
	background-color: #c4f8cb1f;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
}

.box-about p {
	margin: 10px;
}

#epitetos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#imgEpitetos {
	width: 300px;
	height: 500px;
}

#epitetos ul {
	list-style: none;
}

.boxEpitetos {
	background-color: #c4f8cb1f;
	margin: 10px;
	padding: 25px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
	
}

.epiteto {
	margin-top: 10px;
}

.boxLink {
	background-color: #c4f8cb1f;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	animation: welcome 3s 500ms;
	animation-fill-mode: backwards;
}

.links a {
	color: white;
}


/* ******** X ******** *\
|       ANIMAÇÕES       |
\* ******** X ******** */

@keyframes welcome {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popup {
    from {
        transform: scale(0.8);
    } to {
        transform: scale(1);
    }
}

/* ******** X ******** *\
     RESPONSIVIDADE     |
\* ******** X ******** */

